<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">

        <title>About</title>
    </head>	
    <body>
        <a href="/" class="header_logo"> 
            <img src="../images/home-logo.png" alt="home" width="30" height="25">
        </a>
        <h1>About</h1>
        <p1 style="text-align:right">
            This website is for booking office hours appointment for the course UNIV - SC 1101-003:Student Success.
            <br>
            <br>
            <br>
            <b>Course Information:</b>
            <br>
            <br>Peer Academic Leader: Mahin Maharjan
            <br>
            Phone: 817-2727-6190
            <br>
            UTA Email: mahin.maharjan@uta.edu
            <br>
            <br>
            <a href="../images/UNIV-1101-Spring-2021-Syllabus.pdf" target="_blank" class="download">Download Syllabus</a>
            <br>
            <br>
            <b>Description of Course Content:</b>
            <br>
            This course will cover topics to help students transition to UTA and achieve academic <br>
            and personal success through recognition of campus resources and community building. <br>
            Students will discover effective ways to balance personal and career obligations with <br>
            academic goals. The course will allow for the discovery of marketable skills of their<br>
            chosen academic discipline and the professions associated with their program of study.<br>
            Experiential learning opportunities will be discussed,includingundergraduate research, <br>
            leadership, international engagement, community engagement and career development
        </p1>
    </body>
</html>