<html>
    <head>
        <link rel="stylesheet" href="../css/style.css">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>    

        <title>About</title>
    </head>	
    <body class="text-center">
        <div class="container">
            <header class="py-3 mb-4 ">
              <a href="/" class="header_logo"> 
                <img src="../images/home-logo.png" alt="home" width="30" height="25">
            </a>
            </header>
        </div>
        
        <div class="container">
            <h1>About</h1>

            <p1 style="text-align:right">
                This website is for booking office hours appointment for the course UNIV - SC 1101-003:Student Success.
                <br>
                <br>
                <br>
                <b>Course Information:</b>
                <br>
                <br>Peer Academic Leader: Mahin Maharjan
                <br>
                Phone: 817-2727-6190
                <br>
                UTA Email: mahin.maharjan@uta.edu
                <br>
                <br>
                <a href="../images/UNIV-1101-Spring-2021-Syllabus.pdf" target="_blank">
                    <button class="btn btn-primary">Syllabus</button> 
                </a>
                <br>
                <br>
                <b>Description of Course Content:</b>
                <br>
                This course will cover topics to help students transition to UTA and achieve academic <br>
                and personal success through recognition of campus resources and community building. <br>
                Students will discover effective ways to balance personal and career obligations with <br>
                academic goals. The course will allow for the discovery of marketable skills of their<br>
                chosen academic discipline and the professions associated with their program of study.<br>
                Experiential learning opportunities will be discussed,includingundergraduate research, <br>
                leadership, international engagement, community engagement and career development
            </p1>
        </div>

        <p class="mt-5 mb-3 text-muted">UTAppointments 2021</p>
    </body>
</html>