<html>
    <head>
        <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"
        rel="stylesheet"
        />
        <link rel="stylesheet" href="../css/style.css" />
        <title>Instructor Password Reset</title>
    </head>
    <body>
        <a href="/" class="header_logo">
            <img src="../images/home-logo.png" alt="home" width="30" height="25" />
        </a>

        <h1>Password Reset</h1>
        <div class="buttons">
            <form action="/forgot_password" method="POST">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" class="login_input" />
                <input type="submit" value="Reset Password" class="submit_button" />
            </form>
        </div>
    </body>
</html>