<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
        
        <title>UTAppointments</title>
    </head>	
    <body>
        <h1>Welcome to UTAppointments</h1>
        <div class="buttons">
            <form action="/logout?_method=DELETE" method="POST">
                <a href="" class="body_button"> 
                    History
                </a>
                <a href="/instructor_main/office_hours" class="body_button"> 
                    Change Office Hours
                </a>
                <a href="" class="body_button"> 
                    Check Schedule
                </a>
                <a href="/instructor_main/update_key" class="body_button"> 
                    Update Key
                </a>
                <button type="submit" class="submit_button"> 
                    Log Out
                </button>
            </form>
        </div>
    </body>
</html>