<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
        
        <title>Instructor Registration</title>
    </head>	
    <body>
        <a href="/" class="header_logo"> 
            <img src="../images/home-logo.png" alt="home" width="30" height="25">
        </a>
        <h1>Register Instructor</h1>
        <div class="buttons">
        <form action="/register" method="POST">
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname" class="register_input">
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname" class="register_input">
            <label for="email">Email address:</label><br>
            <input type="text" id="email" name="email" class="register_input">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" class="register_input">
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" class="login_input">
            <input type="submit" value="Register" class="submit_button">
        </form>
        </div><br>    
        <a href="/login" class="links">Back to Login</a>
    </body>
</html>