<html>
   <head>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="../css/style.css">
      <link rel="stylesheet" href="../css/popup.css">

      <link href = "https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel = "stylesheet">
      
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      <script type="text/javascript"> var jQuery = jQuery.noConflict(true); </script>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <link rel="stylesheet" href="../css/jquery.timepicker.min.css">     
      <script src = "js\jquery.timepicker.min.js"></script>
      <script type="text/javascript"> var jQueryTime = jQuery.noConflict(true); </script>

      <title>UTAppointments</title>
   </head>	
   <body>
      <a href="/" class="header_logo"> 
         <img src="../../images/home-logo.png" alt="home" width="30" height="25">
      </a>
      <h1>Book Appointment</h1>

      <span id='displayError' class="error">
      </span>
      <br>
      <br>
      
      <div class="buttons">
      
      <form action="" onsubmit = "return false" id="myform">

         <label for="fname">First Name:</label>
         <input type="text" id="fname" name="fname" class="login_input">
         <label for="lname">Last Name:</label>
         <input type="text" id="lname" name="lname" class="login_input">
         <label for="email">Email:</label>
         <input type="text" id="email" name="email" class="login_input">
         <label for="key">Key:</label>
         <input type="text" id="key" name="key" class="login_input">  
         <label for="date">Date:</label>
         <input type="text" id="datepicker" name="date" class="login_input" autocomplete="off">
         <label for="time" id="time_label" class="disable">Time:</label>
         <input type="text" id="time" name="time" class="login_input disable" autocomplete="off">
         <input type="submit" id="submit" value="Book Appointment" class="submit_button">
         <div id= "container"> </div>
      </form>
      
      </div>   
      <br> 
      <a class="trigger_popup_fricc">Click here check current office hours</a>

      <div class="hover_bkgr_fricc">
         <span class="helper"></span>
         <div>
            <div class="popupCloseButton">&times;</div>
            <p>Office Hours
               <table id="table" class="content-table">
                  <thead>
                     <th>Day</th>
                     <th>Start Time</th>
                     <th>End Time</th>
                  </thead>
                  <tbody></tbody>
               </table>
            </p>
         </div>
      </div>
      <script type="module" src="js\make_appointment.js"> </script>
   </body>
</html>