<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" href="../css/style.css">
      <link rel="stylesheet" href="../css/popup.css">

      <link href = "https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel = "stylesheet">
      
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      <script type="text/javascript"> var jQuery = jQuery.noConflict(true); </script>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <link rel="stylesheet" href="../css/jquery.timepicker.min.css">     
      <script src = "js\jquery.timepicker.min.js"></script>
      <script type="text/javascript"> var jQueryTime = jQuery.noConflict(true); </script>

      <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

      <link rel="shortcut icon" type="image/jpg" href="../images/favicon.ico"/>
      
      <title>Book Appointment</title>
   </head>	
   <body>
      <div class="container">
         <header class="py-3 mb-4 ">
           <a href="/" class="header_logo"> 
             <img src="../images/home-logo.png" alt="home" width="30" height="25">
         </a>
         </header>
      </div>
       
      
      <div id = "hide">   
      <h1 class="h3 mb-3 mt-5 fw-normal text-center">Please fill and submit<br>to book an appointment</h1>
      <!-- Button code     -->


      <div class="text-center">
         <span id='displayError' class="error"></span>
      </div>

      <div class="container">
      
         <form class ="needs-validation" action="" onsubmit = "return false" id="myform">
            <div class="col">
               <div class="row-md-2 d-flex justify-content-center my-3">
                  <div class="col-3">               
                     <label for="fname" class="form-label">First name</label>
                     <input type="text" class="form-control" name="fname" id="fname" autocomplete="off" required>
                  </div>
               </div>

               <div class="row-md-2 d-flex justify-content-center my-3">
                  <div class="col-3">               
                     <label for="lname" class="form-label">Last name</label>
                     <input type="text" class="form-control" name="lname" id="lname" autocomplete="off" required>
                  </div>
               </div>

               <div class="row-md-2 d-flex justify-content-center my-3">
                  <div class="col-3">               
                     <label for="email" class="form-label">Email</label>
                     <input type="text" class="form-control" name="email" id="email" placeholder="email@mavs.uta.edu" autocomplete="off" required>
                  </div>
               </div>

               <div class="row-md-2 d-flex justify-content-center my-3">
                  <div class="col-3">               
                     <label for="key" class="form-label">Key</label>
                     <input type="text" class="form-control" name="key" id="key" autocomplete="off" required>
                  </div>
               </div>

               <div class="row-md-2 d-flex justify-content-center my-3">
                  <div class="col-3">               
                     <label for="fname" class="form-label">Date</label>
                     <input readonly style="background:white;" type="text" class="form-control" id="datepicker" name="date" autocomplete="off"  required>
                  </div>
               </div>

               <div id = "time_hide" class = "disable">
               <div class="row-md-2 d-flex justify-content-center my-3">
                  <div class="col-3">               
                     <label for="time" class="form-label">Time</label>
                     <input type="text" class="form-control" id="time" name="time" autocomplete="off" required>
                  </div>
               </div>
               </div>
               <div class="col-12 d-flex mt-5 justify-content-center my-3">
                  <button class="btn btn-primary" id="submit" type="submit">Book Appointment</button>
               </div>
            </div>
         </form>
      </div>   

      <div class="container text-center">
         <a class="trigger_popup_fricc">Click here check current office hours</a>
   
      <div class="hover_bkgr_fricc">
         <span class="helper"></span>
         <div>
            <div class="popupCloseButton">&times;</div>
               <p>Office Hours
                  <table id="table" class="table">
                     <thead>
                        <th>Day</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                     </thead>
                     <tbody></tbody>
                  </table>
               </p>
            </div>
         </div>
      </div>
      </div>
    
      <span id='displayMessage' class = "disable message text-center mx-auto">
         <h1 class="h3 mb-3 mt-5 fw-normal text-center">Appointment Booked</h1>
         <p id='appointmentMessage'></p> 

         <div class="col justify-content-center">
            <div title="Add to Calendar" class="addeventatc message">
               Add to Calendar
               <span id="start" class="start">05/5/2021 08:00 AM</span>
               <span id="end" class="end">05/15/2021 10:00 AM</span>
               <span class="timezone">America/Chicago</span>
               <span class="title">UNIV-SC 1101: Office Hours Appointment</span>
               <span id="description" class="description">Reference Number</span>
               <span class="location">Check Syllabus</span>
            </div>
         </div>
      </span>
    
      <p class="mt-5 mb-3 text-muted text-center">UTAppointments 2021</p>

      <script type="module" src="js\make_appointment.js"> </script>
   </body>
</html>