<!DOCTYPE html>
<html>
   <head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/jquery.timepicker.min.css">
      
    <script src = "js\jquery.timepicker.min.js"></script>

      <title>Office Hours</title>
   </head>	
   <body>
      <a href="/" class="header_logo"> 
         <img src="../images/home-logo.png" alt="home" width="30" height="25">
     </a>
     <h1>Office Hours</h1>
     <form action = "">
     <select name="day" id="day" class="drop_down">
        <option value="0">Sunday</option>
        <option value="1">Monday</option>
        <option value="2">Tuesday</option>
        <option value="3">Wednesday</option>
        <option value="4">Thursday</option>
        <option value="5">Friday</option>
        <option value="6">Saturday</option>
      </select>
    <br>
    <br>
     <input type="text" id="start_time">
     <input type="text" id="end_time">
     <script>
           $(document).ready(function(){
              $('#start_time').timepicker({
                  'minTime': '8:00am',
                  'maxTime': '11:30pm',
                  'interval':'10'
              }); 
              $('#end_time').timepicker({
                  'minTime': '8:00am',
                  'maxTime': '11:30pm',
                  'interval':'10'
              }); 
           });
     </script>  
     <br>
     <br>
     <input type="submit" value="Update" id="update" class="update_hours">
     <br>
     <input type="submit" value="Insert" id="insert" class="update_hours">
     <br>
     <input type="submit" value="Delete" id="delete" class="update_hours">
     
     </form>

    <table id="table" class="table">
        <thead>
            <th>Day</th>
            <th>Start Time</th>
            <th>End Time</th>
        </thead>
        <tbody></tbody>
    </table>

    <script type="module" src="js\office_hours.js"> </script>

   </body>	
   
</html>