<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">

        <title>Schedule</title>
    </head>	
    <body>
        <a href="/instructor_main" class="header_logo"> 
            <img src="../images/Back_Arrow.svg" alt="home" width="40" height="40">
        </a>
        <h1>
            Schedule
        </h1>
        <table id="table" class="content-table">
            <thead>
                <th>Reference #</th>
                <th>Appointment Date</th>
                <th>Appointment Time</th>
                <th>Booking Timestamp</th>
                <th>Student First Name</th>
                <th>Student Last Name</th>
                <th>Student Email</th>
            </thead>
            <tbody></tbody>
        </table>
        <script type="module" src="..\js\schedule.js"> </script>
    </body>
</html>