<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
        
        <title>Instructor</title>
    </head>	
    <body>
        <a href="/instructor_main" class="header_logo"> 
            <img src="../images/Back_Arrow.svg" alt="home" width="40" height="40">
        </a>
        <h1>Update Key</h1>
            <br>  
            <a> 
            Key should be atleast 6 letters.
            </a>
            <br>
            <br>
            <br>

            <div class="buttons">
            <form action="">
                <label for="key1">New key:</label><br>
                <input type="text" id="key1" name="key1" class="login_input">
                <label for="key2">Re-enter new key:</label><br>
                <input type="text" id="key2" name="key2" class="login_input"> 
                <input type="submit" id="submit" value="Submit" class="submit_button">
            </form>
            </div>  
        <script type="module" src="/js/update_key.js"> </script>	
    </body>
</html>